/* global.css */

/* Анимация для точек подключения */
@keyframes dotFlashing {
    0% {
        opacity: 0.2;
    }
    20% {
        opacity: 1;
    }
    100% {
        opacity: 0.2;
    }
}

/* Скрытие атрибуции Leaflet */
.leaflet-control-attribution {
    display: none;
}
